.poke-info {
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
    width: 230px;
    display: flex;
    flex-direction: column;
    margin: 10px; 
}

.poke-info .card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container {
    display: flex;
}
.info-container .detail-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.info-container .detail {
    text-transform: uppercase;
}

.moves-container{
    border-radius: 10px;
    background-color: palevioletred;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.moves-container .label{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.info-container .label {
    font-weight: bold;
}